@page
@model OfficialProject3.Pages.ItemDetailModel
@{
    ViewData["Title"] = "Thông tin tài liệu";
}

<h3>@ViewData["Title"]</h3>

<div class="d-flex flex-lg-column justify-content-center">
    <a href="~/images/Road for motorcycles.png">
        <img class="col-1 col-2" src="~/images/Road for motorcycles.png" alt="Không load được ảnh"
             height="300px" width="188px" style="display:block;" />
    </a>
    <p>You can read the docs <a href="docs/Readme.txt" download="readme">here</a>.</p>
    <p>Tài liệu được đăng bởi <a href="https://VnExpress.net">VnExpress</a>.</p>
    <div>
        <a href="~/images/Road for motorcycles.png" class="btn btn-primary">Tải xuống</a>
        <button class="btn btn-info"><span class="oi oi-home"></span>Liên hệ tác giả</button>
    </div>
</div>

<h5 class="mt-3">Bình luận</h5>
@if (!SignInManager.IsSignedIn(User))
{
    <p class="mt-1">Bạn cần <a asp-area="Identity" asp-page="/Account/Login">đăng nhập</a> để có thể bình luận</p>
}
else
{
    <form method="post">
        <textarea cols="10" rows="5" class="text-secondary bg-gradient"></textarea>
        <div></div>
        <input type="submit" class="btn btn-outline-primary" value="Đăng bình luận" />
    </form>
}

@if (User.IsInRole("Admin")) {
    <hr />
    <div class="text-primary">Phần dành riêng cho admin</div>
    <button class="btn btn-danger mt-1">Xóa tài liệu này</button>
    <button class="btn btn-warning mt-1">Cảnh cáo tác giả của tài liệu này</button>
}